@import "tailwindcss";
@theme {
<<<<<<< Updated upstream
    --color-main: #091A23;
    --color-secondary: #0d212c;
    --color-beige: #fffdf2;
}
=======
  --animate-float: float 2s ease-in-out infinite;

  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-30px);
    }
  }
}
>>>>>>> Stashed changes
